.new {
    float: right;
    margin-bottom: 1.5em;
    background-color: rgb(0, 173, 9);
    color: #FFF;
    font-weight: 600;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: ease-in-out 0.3s; 
}

.new svg {
    margin-right: 5px;
}

.new:hover {
    background-color: rgb(0, 124, 6);
    transform: scale(1.1);
}

.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard span {
    margin: 10px 0;
    font-weight: 600;
    font-size: 18px;
}

table {
    border: 1px solid #CCC;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0  0.75em;
}

table tr {
    background-color: #F8f8f8;
    border: 1px solid #DDD;
    padding: 0.35em;
}

table th, table td {
    padding: 0.62em;
    text-align: center;
}

table th {
    text-transform: uppercase;
    letter-spacing: 1px;
}

table td .btn-action {
    margin-right: 5px;
    padding: 3px;
    display: inline-block;
    border: 0;
    border-radius: 2px;
}

table td .btn-action svg {
    vertical-align: middle;
}

table td .badge {
    padding: 5px 10px;
    border-radius: 5px;
    color: #FFF;
}

.label-more {
    margin: 10px 0;
}

.btn-more {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background-color: #181c2e;
    color: #FFF;
    transition: ease-in-out 0.3s;
}

.btn-more:hover {
    background-color: #0e1f63;
}

.filtro {
    display: flex;
    flex-direction: column;
}

.filtro label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.filtro select {
    width: 200px;
}

@media screen and (max-width: 600px){
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #DDD;
        display: block;
        margin-bottom: 0.60em;
    }

    table td {
        border-bottom: 1px solid #DDD;
        display: block;
        font-size: 0.8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: 600;
    }
}