* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    font-size: 14px;
    font-family: sans-serif;
    background-color: #EFEFEF;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

.app-container {
    height: 100%;
}

.routes-container {
    height: 100%;
}